*{
    margin: 3rem;
}

body{
    background-color: rgb(210, 191, 228);
    color: rgb(32, 28, 28);
    font-weight: bold;
    font-size: 2rem;
    border: 1px solid black;
    padding: 2rem;
    border-radius: 20px;
}